html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
#mychart {
	position: fixed ! important;
	right: 0px;
	top: 5.8%;
	width: 16.2%;
	height: 34.8%;
	background-color: #C9C9C9;
}

#box {
	position: fixed ! important;
	right: 0px;
	top: 11.6%;
	width: 16.2%;
	height: 29%;
	position: relative;
}

#slt {
	left: 0;
	position: absolute;
}

#slt2 {
	right: 0;
	position: absolute;
}

.btns {
	position: fixed ! important;
	right: 5px;
	top: 41.7%;
}

.checks {
	position: fixed ! important;
	right: 5px;
	top: 55.6%;
}

#sltlayer {
	position: fixed ! important;
	right: 5px;
	top: 60.8%;
}
.buffer{
	position: fixed ! important;
	right: 5px;
	top: 70%;
}
#buf2 {
	display: none;
	position: fixed ! important;
	right: 5px;
	top: 72.3%;
	width: auto;
	height: auto;
	background-color: #CDC673;
}
#topbar{
	position: fixed ! important;
	right: 5px;
	top: 73.5%;
}
